<div class="oj-hybrid-padding">
    <div class="oj-flex-item" >
        
        <!-- INICIO IDENTIFICACION DEFUNCION -->
        <div class="oj-panel oj-panel-shadow-sm oj-bg-brand-30 oj-sm-margin-4x demo-mypanel">
            <div class="oj-hybrid-padding">
                <label class="titulo-identificacion" for="">Identificación de defunción</label>
            </div>
            <oj-form-layout 
                user-assistance-density="compact"
                id="myform"
                label-edge="top"
                columns="2"
                max-columns="2"
                direction="column" >

                <div >
                    <oj-input-text
                        start-icon="fa fa-search"
                        label-hint="Departamento"
                        label-edge="inside"
                        placeholder='Digite el código nombre del departamento'
                        help.instruction="Digite el código nombre del departamento"
                        required
                    ></oj-input-text>
                    <!-- <span><i class="fa fa-search"></i></span> -->
                </div>
                
                <oj-input-text
                    label-hint="Municipio"
                    label-edge="inside"
                    placeholder='Digite el código nombre del Municipio de residencia'
                    help.instruction="Digite el código nombre del Municipio de residencia"
                    required
                ></oj-input-text>

                <oj-input-number
                    min="0"
                    label-edge="inside"
                    label-hint="Año de Inscripción"
                    placeholder='Digite el año de inscripción'
                    help.instruction="Digite el año de inscripción"
                    required
                ></oj-input-number>
        
                <oj-input-number 
                    min="0"
                    label-edge="inside"
                    label-hint="Número de acta"
                    placeholder='Digite el número de acta'
                    help.instruction="Digite el número de acta"
                    required
                ></oj-input-number>
            </oj-form-layout>
            <div class="oj-flex oj-flex-items-end" style="gap: 1rem; justify-content: flex-end;">
                <oj-button id='button2' >
                    <span><oj-bind-text value="Cargar"></oj-bind-text></span>
                </oj-button>
                <oj-button id="button1" on-oj-action="[[miFuncion]]">Nuevo</oj-button> 
                <oj-button id="my-button" >
                    <span><oj-bind-text value="Buscar"></oj-bind-text> <i class="fa fa-search"></i></span>
                </oj-button>    
            </div>
        </div>
        <!-- FIN IDENTIFICACION DEFUNCION -->

        <oj-table id='table' aria-label='Departments Table'
            data='[[dataprovider]]'
            selection-mode='{"row": "multiple", "column": "multiple"}'
            dnd='{"reorder": {"columns": "enabled"}}'
            scroll-policy='loadMoreOnScroll'
            scroll-policy-options='{"fetchSize": 10}'
            columns='[{"headerText": "Department Id", 
                        "field": "DepartmentId",
                        "headerClassName": "oj-sm-only-hide",
                        "className": "oj-sm-only-hide",
                        "resizable": "enabled"},
                    {"headerText": "Department Name", 
                        "field": "DepartmentName",
                        "resizable": "enabled"},
                    {"headerText": "Location Id", 
                        "field": "LocationId",
                        "headerClassName": "oj-sm-only-hide",
                        "className": "oj-sm-only-hide",
                        "resizable": "enabled"},
                    {"headerText": "Manager Id", 
                        "field": "ManagerId",
                        "resizable": "enabled"}]'
            style='width: 100%; height: 200px;'>
        </oj-table>

    </div>
</div>

